<a href="https://colab.research.google.com/github/SMRayeed/Stock-Data-Analysis/blob/main/stock_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_res = pd.read_csv('/content/drive/MyDrive/results.csv')

In [5]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    138 non-null    object
 1   true    138 non-null    float64
 2   gru     138 non-null    float64
 3   lstm    138 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.4+ KB

In [6]:
df_res['date'] = pd.to_datetime(df_res['date'])

In [7]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    138 non-null    datetime64[ns]
 1   true    138 non-null    float64
 2   gru     138 non-null    float64
 3   lstm    138 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.4 KB

In [9]:
start_date_input = input("Enter the date when you want to invest (yyyy-mm-dd) : ")

Enter the date when you want to invest (yyyy-mm-dd) : 2022-08-01

In [10]:
result = df_res[df_res['date'] == start_date_input]['true'].values

if result.size > 0:
    print(f"True value on {start_date_input} : {result[0]:.6f}")
else:
    print(f"No data found for {start_date_input}")

True value on 2022-08-01 : 233.070007

In [12]:
invest = float(input("How much money you want to invest (USD) : "))
add_cost = float(input("Additional Cost (%) : "))

total_invest = round(invest*(1+(add_cost/100)),2)

if total_invest/2 < result[0] :
  print(f"Sorry, not enough investment!")

How much money you want to invest (USD) : 5000
Additional Cost (%) : 10

In [13]:
num_stocks = invest/result[0]
print(num_stocks)

21.45278175172752

In [ ]:
invest_type = input("Do you want Quick Profit, or Maximum Profit (q/m)? : ")

if invest_type.lower() == "q" or invest_type.lower() == "quick" :

  window = 14

  rows_after_invest_date = df_res[df_res['date'] > start_date_input].head(window)

  if not rows_after_invest_date.empty:
      min_value_true_column = rows_after_invest_date['true'].min()

      original_value_at_invest_date = df_res.loc[df_res['date'] == start_date_input, 'true'].values[0]

      if min_value_true_column < original_value_at_invest_date:
          print(f"Minimum value for 'true' column in the next 14 rows ({min_value_true_column}) is less than the original value at the investment date ({original_value_at_invest_date}).")
      else:
          print(f"The minimum value for 'true' column in the next 14 rows ({min_value_true_column}) is not less than the original value at the investment date ({original_value_at_invest_date}).")
  else:
      print("ERROR: No values found after the given date.")

Do you want Quick Profit, or Maximum Profit (q/m)? : q
The minimum value for 'true' column in the next 14 rows (237.0399932861328) is not less than the original value at the investment date (233.07000732421875).

In [14]:
filtered_df = df_res[df_res['date'] > start_date_input]

min_true_value = filtered_df['true'].min()
min_true_date = filtered_df.loc[filtered_df['true'].idxmin()]['date']
min_true_date = min_true_date.strftime('%Y-%m-%d')

print("Minimum value in 'true' column after 2022-08-21:", min_true_value)
print("Date when it occurred:", min_true_date)

Minimum value in 'true' column after 2022-08-21: 167.8699951171875
Date when it occurred: 2022-12-12

In [31]:
buy_cost = (num_stocks*min_true_value)

In [29]:
profit = invest*(1-(add_cost/100)) - (buy_cost)
print(f'Max. Profit (USD) : {profit:.2f}')
profit_percent = (profit/invest)*100
print(f'Max. Profit (%) : {profit_percent:.2f} %')

Max. Profit (USD) : 898.72
Max. Profit (%) : 17.97 %

In [48]:
print(f"Investment Date -----------> {start_date_input}")
print(f"Investment Amount ---------> {invest:.2f}")
print(f"Additional Cost(%) --------> {add_cost:.2f}%")
print(f"Optimal Buying Date -------> {min_true_date}")
print(f"Optimal Buying Cost -------> {buy_cost:.2f}")
print(f"Profit (after add. cost) --> {profit:.2f}")
print(f"Profit Percentage ---------> {profit_percent:.2f} %")

Investment Date -----------> 2022-08-01
Investment Amount ---------> 5000.00
Additional Cost(%) --------> 10.00%
Optimal Buying Date -------> 2022-12-12
Optimal Buying Cost -------> 3601.28
Profit (after add. cost) --> 898.72
Profit Percentage ---------> 17.97 %